<a href="https://colab.research.google.com/github/ankitarm/Python_Data_Engineer_Questions/blob/main/Python_Data_Engineer_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.interviewquery.com/p/data-engineer-python-questions
https://dataengineeracademy.com/module/100-python-coding-questions-for-data-engineers/
https://www.datacamp.com/blog/top-python-interview-questions-and-answers
https://medium.com/@sounder.rahul/python-data-engineers-coding-interview-questions-part-1-4e2f6b22c22d
https://devinterview.io/questions/web-and-mobile-development/python-interview-questions/
https://www.youtube.com/watch?v=DPT2prcQhu8

# Python Questions

# 1: Count Characters in a String

In [ ]:
Input1: "banana"
#Output: {'b': 1, 'a': 3, 'n': 2}

def count_characters(s):
    char_count = {}
    for char in s:
        char_count[char] = char_count.get(char, 0) + 1
    return char_count

# Test
print(count_characters("banana"))

{'b': 1, 'a': 3, 'n': 2}

# Two Sum

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.
Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

In [ ]:
def twoSum(nums, target):
  check = {}
  for index in range(len(nums)):
    value = target - nums[index]
    if value not in check:
      check[nums[index]] = index
    else:
      return [check[value], index]

nums = [2,11,7,15]
target = 18
twoSum(nums, target)

[1, 2]

# Longest Substring Without Repeating Characters

Input: s = "abcabcbb"
Output: 3
Explanation: The answer is "abc", with the length of 3.

In [ ]:
def longestSub(s):
  lenset = set()
  max_len = 0
  left = 0
  for i in range(len(s)):
    while s[i] in lenset:
      lenset.remove(s[left])
      print(lenset)
      left+=1
    lenset.add(s[i])
    max_len = max(max_len,i-left+1)
  return max_len,lenset

s = "pwwkew"
longestSub(s)

{'w'}
set()
{'k', 'e'}

(3, {'e', 'k', 'w'})

# 2: Most Frequent Element

In [ ]:
Input2: [1, 3, 1, 3, 2, 1]
#Output: 1

def most_frequent(nums):
    freq = {}
    for num in nums:
        freq[num] = freq.get(num, 0) + 1

    # Find the element with the highest frequency
    max_freq = 0
    result = None
    for num, count in freq.items():
        if count > max_freq:
            max_freq = count
            result = num
    return result

# Test
print(most_frequent([1, 3, 1, 3, 2, 1]))

1

# 3: Group Words by Length

In [ ]:
Input3: ["cat", "dog", "apple", "hi", "run"]
#Output: {3: ['cat', 'dog', 'run'], 5: ['apple'], 2: ['hi']}

def group_by_length(words):
    length_dict = {}
    for word in words:
        length = len(word)
        if length not in length_dict:
            length_dict[length] = []
        length_dict[length].append(word)
    return length_dict

# Test
print(group_by_length(["cat", "dog", "apple", "hi", "run"]))

{3: ['cat', 'dog', 'run'], 5: ['apple'], 2: ['hi']}

# 4 : Find sum of all items in a dictionary.

In [ ]:
input = {'a':100,'b':200,'c':300}

def valSum(input):
  sumval = 0
  for key in input:
    sumval += input[key]
  return sumval

valSum(input)

600

In [ ]:
input = {'a':100,'b':200,'c':300}

def valSum(input):
  sumval = 0
  for val in input.values():
    sumval += val
  return sumval

valSum(input)

600

# 5: Dictionary group different values

In [ ]:
input = {'Sun':5, 'Mon':4, 'Tues':4, 'Wed': 4}

def groupKeys(input):
  result = {}
  for key,value in input.items():
    if value in result:
      result[value].append(key)
    else:
      result[value] = [key]
  return result

groupKeys(input)

{5: ['Sun'], 4: ['Mon', 'Tues', 'Wed']}

# 6: nested json in list

In [ ]:
input_list=[1,2,[7,9,[15,[12,9]]],18,10]

def flattenList(input_list):
  result = []
  for element in input_list:
    if type(element) is list:
      result.extend(flattenList(element)) # merginf the lists
    else:
      #print(result)
      result.append(element)
  return result

flattenList(input_list)

[]
[1]
[]
[7]
[]
[]
[12]
[1, 2, 7, 9, 15, 12, 9]
[1, 2, 7, 9, 15, 12, 9, 18]

[1, 2, 7, 9, 15, 12, 9, 18, 10]

# 7: Reverse the list with 1 character of each element capitalized and remove duplicates-without using reverse and capital functions. [P, P, J, S]

In [ ]:
data=['sql','Java','java','pyspark','PYSpark']

result = []
check = []

for index in range(len(data)-1,-1,-1):
  dl = (data[index]).lower()
  if dl not in check:
    check.append(dl)
    result.append(dl[0].upper())
print(result)

['P', 'J', 'S']

# 8: Find if strings anagram or not. -- both the strings contain same characters in any order.

In [ ]:
str1="zacb"
str2="bcaz"

# this is wrong as it check id string reverse is same
def anagram(str1,  str2):
  if len(str1) != len(str2):
    return False
  #print(str2[::-1])
  return str1 == str2[::-1]
anagram(str1,str2)

zacb

True

In [ ]:
#this is also not correct as zz and aa. count is not validated.
str1="azzcb"
str2="bcaaz"

def anagram(str1,  str2):
  if len(str1) != len(str2):
    return False

  for index in range(len(str1)):
    if str1[index] not in str2:
      return False
  return True
anagram(str1,str2)

True

âœ… Anagram Check Logic (without built-in functions):
Two strings are anagrams if:

They have the same length.

They contain the same characters with the same frequency.

In [ ]:
str1="azacb"
str2="bcazz"

def anagram(str1,  str2):
  if len(str1) != len(str2):
    return False
  dict1 = {}
  # mainting count in dict1
  for char in str1:
      dict1[char] = dict1.get(char,0)+1
# subtracting count from dict
  for char in str2:
    dict1[char] = dict1.get(char,0) - 1
#if all are 0 {a:0,b:0} then true
  return all(val==0 for val in dict1.values())
anagram(str1,str2)

False

# 9: Top K Frequent Elements